* {
	margin: 0;
	font-family: "SansSerif";
}

.area {
	width: 100vw;
	height: 100vh;
	background: url('img/world.png');
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	margin: 20px auto;
	text-align: center;
	background: white;
	padding: 10px  20px;
	border-radius: 20px;
	border: 5px double lightblue;
}

.cards {
	width: 600px;
	min-width: 600px;
	height: 600px;
	min-height: 600px;
	margin: 0 auto;
	background: transparent;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.card {
	width: 180px;
	height: 180px;
	border-radius: 10px;
	position: relative;
	box-sizing: border-box;
	transition: all 2s ease;
  	transform-style: preserve-3d;
}

.front {
	width: 100%;
	height: 100%;
	background: lightgrey;
	text-align: center;
	color: darkorange;
	font-weight: bold;
	font-size: 1.5em;
	position: absolute;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.back {
	width: 100%;
	height: 100%;
	background: darkorange;
	text-align: center;
	color: lightgrey;
	font-weight: bold;
	font-size: 1.5em;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	transform-style: preserve-3d;
}

.card:hover {
	transform: rotateY(180deg);
}